:root {
    --outline-border: 4px solid #5a5c6a;
    --character-card: radial-gradient(circle, #eeeae7 1%, #b6cfe4 50%, #92a0a1 100%);
    --atk-indicator: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(5000%) hue-rotate(0deg);
    --def-indicator: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(5000%) hue-rotate(210deg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient( 180deg,
                                #1a1c22 0%,
                                #5a5c6a 65%,
                                #a7a8b2 10%,
                                #5a5c6a 65%,
                                #1a1c22 100%);                   
}

.container {
    width: 1500px;
    height: 900px;
    border-radius: 10px;
    margin: 20px auto;
    background: #1a1c22;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.character-blank {
    margin: 0px;
    padding: 10px;
    background: var(--character-card);
    border-radius: 5px 0px 5px 5px;
}

.enemy-blank {
    margin: 0px;
    padding: 10px;
    background: var(--character-card);
    border-radius: 0px 5px 5px 5px;
}

.user-field {
    grid-area: 1 / 1 / 3 / 2;
    border: var(--outline-border);
    border-radius: 10px 0px 0px 10px;
}

.enemy-field {
    grid-area: 1 / 4 / 3 / 5;
    border: var(--outline-border);
    border-radius: 0px 10px 10px 0px;
}

.controls {
    grid-area: 1 / 2 / 2 / 4;
    border-top: var(--outline-border);
    border-bottom: var(--outline-border);
}

.action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.action-buttons input {
    display: inline-block;
    display: flex;
}

legend {
    width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    color: #b6cfe4;
}

fieldset {
    border: none;
    padding: 0;
}

input[type="checkbox"] {
  display: none;
}

fieldset span {
  display: block;
  padding: 10px 20px;
  border: 2px solid #444;
  border-radius: 5px;
  margin: 5px;
  background: #f0f0f0;
  text-align: center;
  font-weight: bold;
}

.attack-buttons, .defend-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attack-buttons *{
    cursor: url(./assets/images/cursor/sword.png), pointer;
}
.defend-buttons *{
    cursor: url(./assets/images/cursor/shield.png), pointer;
}

.attack-buttons label input[type="checkbox"]:checked+span {
    background: red;
    color: white;
}

.defend-buttons label input[type="checkbox"]:checked+span {
    background: blue;
    color: white;
}

.hitting-indicator {
    position: relative;
}

.hitting-indicator img {
    height: 300px;
    position: absolute;
    margin: 0 calc((100% - 154.2px) / 2); 
    top: 120px;
}

.battle-logs {
    grid-area: 2 / 2 / 3 / 4;
    border-bottom: var(--outline-border);
}